<form class="landing-editor" ref="form">

    <draggable v-model="blocks" :options="draggableOptions">
        <div class="landing-editor__block"
             v-for="(block, index) in blocks"
             :key="index"
        >
            <ul class="landing-editor__block-menu">
                <li>
                    <elgg-icon name="arrows-alt" class="landing-editor__block-drag-handle"/>
                </li>
            </ul>

            <component :is="resolveComponentName(block)"
                       :block="block"
                       :parentId="index">

            </component>
        </div>
    </draggable>

    <div class="landing-editor__footer elgg-foot">
        <elgg-button
            role="submit"
            :text="echo('save')"
            @click="save"
            :loading="loading"
            :disabled="loading"
        ></elgg-button>
    </div>

</form>