<div class="elgg-page-section elgg-page-features">
    <div class="elgg-inner">
        <div class="landing-features">
            <input type="hidden" :name="resolveInputName('type')" :value="block.type" />
            <div class="landing-features__content">
                <draggable v-model="block.data.items"
                           class="elgg-grid landing-features__columns">
                    <div v-for="(feature, index) in block.data.items"
                         :key="index"
                         class="elgg-col-1of3 landing-features__column"
                    >
                        <transition
                            appear
                            appear-active-class="animated fadeIn"
                            :duration="250"
                            :key="index"
                        >
                            <landing-editor-feature
                                :key="index"
                                :feature="feature"
                                :parentId="parentId"
                                :elementId="index"
                                @delete="deleteFeature(index)"
                            ></landing-editor-feature>
                        </transition>
                    </div>
                </draggable>
            </div>
        </div>
        <div class="landing-editor__block-footer">
            <a class="landing-editor__button" @click="addFeature">Add Feature</a>
        </div>
    </div>
</div>