<div class="elgg-page-section elgg-page-hero">
    <div class="elgg-inner">
        <div class="landing-hero">
            <input type="hidden" :name="resolveInputName('type')" :value="block.type" />
            <input type="hidden" :name="resolveInputName('bg')" :value="block.data.bg.view" />
            <elgg-input-background-image
                v-model="block.data.bg.file"
                :src="block.data.bg.url"
                inputClass="landing-hero__bg"
                :name="resolveInputName('bg')"
            />
            <div class="landing-hero__content">
                <div class="elgg-grid landing-hero__columns--vcentered">
                    <div class="elgg-col-1of2 landing-hero__column--left">
                        <elgg-input-contenteditable
                            v-model="block.data.heading"
                            component="h1"
                            inputClass="landing-hero__heading"
                            :name="resolveInputName('heading')"
                        />
                        <elgg-input-contenteditable
                            v-model="block.data.tagline"
                            component="h2"
                            inputClass="landing-hero__tagline"
                            :name="resolveInputName('tagline')"
                        />
                    </div>
                    <div class="elgg-col-1of2 landing-hero__column--right">
                        <input type="hidden" :name="resolveInputName('img')" :value="block.data.img.view" />
                        <elgg-input-image
                            v-model="block.data.img.file"
                            :src="block.data.img.url"
                            inputClass="landing-hero__illustration"
                            :name="resolveInputName('img')"
                        />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>