<div class="landing-slides__slide">
    <div class="elgg-grid is-vcentered">
        <div class="elgg-col-1of2">
            <div class="elgg-image">
                <input type="hidden" :name="resolveInputName('img')" :value="slide.img.view" />
                <elgg-input-image
                    v-model="slide.img.file"
                    :src="slide.img.url"
                    inputClass="landing-slides__image"
                    :name="resolveInputName('img')"
                />
            </div>
        </div>
        <div class="elgg-col-1of2">
            <div class="elgg-body">
                <elgg-input-contenteditable
                    v-model="slide.title"
                    component="h3"
                    inputClass="landing-slides__title"
                    :name="resolveInputName('title')"
                />
                <elgg-input-contenteditable
                    v-model="slide.description"
                    component="h4"
                    inputClass="landing-slides__description"
                    :name="resolveInputName('description')"
                />
                <a class="landing-editor__button" @click="deleteSlide">{{ echo('delete') }}</a>
            </div>
        </div>
    </div>
</div>