<div class="elgg-page-section elgg-page-slides">
    <div class="elgg-inner">
        <div class="landing-slides">
            <input type="hidden" :name="resolveInputName('type')" :value="block.type" />
            <div class="landing-slides__content">
                <draggable v-model="block.data.items"
                           class="landing-slides__columns">
                    <div v-for="(slide, index) in block.data.items"
                         :key="index"
                         class="landing-slides__column"
                    >
                        <transition
                            appear
                            appear-active-class="animated fadeIn"
                            :duration="250"
                            :key="index"
                        >
                            <landing-editor-slide
                                :key="index"
                                :slide="slide"
                                :parentId="parentId"
                                :elementId="index"
                                @delete="deleteSlide(index)"
                            ></landing-editor-slide>
                        </transition>
                    </div>
                </draggable>
            </div>
        </div>
        <div class="landing-editor__block-footer">
            <a class="landing-editor__button" @click="addSlide">Add Slide</a>
        </div>
    </div>
</div>