.elgg-listing-card {
	height: 100%;
	display: flex;
	flex-direction: column;
	box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1), -1px -1px 8px rgba(0, 0, 0, 0.1);
}

.elgg-listing-card-footer {
	margin-top: auto !important;
}

.elgg-listing-full-header {
	background: #fff;
	border: 1px solid $(border-color-soft) !important;
	border-radius: 6px 6px 0 0;
	padding: 1rem;
	margin: 0;
}

.elgg-listing-full-body {
	background: #fff;
	border: 1px solid $(border-color-soft) !important;
	border-top: none !important;
	border-radius: 0 0 6px 6px;
	padding: 1rem;
}

.elgg-listing-full-attachments {
	margin-top: 1rem;
}

.elgg-module-scraper-card {
	margin: 0;
}

.elgg-listing-full-attachments .media-album-item {
	box-shadow: none;
	padding: 0;
}

.elgg-layout-header {
	border: none;
	margin: 0;
}

.elgg-module-collapse.elgg-state-collapsed > .elgg-head {
	border-radius: 6px;
}

.elgg-page-topbar .elgg-form-search [type="text"] {
	border-radius: 25px;
	padding: 0.5rem 1.25rem;
}

.elgg-page-topbar .elgg-menu-site-container .elgg-menu-site .elgg-anchor-icon {
	display: inline-block !important;
	margin-right: 0.5rem;
}

.media-album-grid {
	margin: 1rem 0;
	grid-gap: 0.5rem;
}

.media-album-item {
	padding: 3px;
	border: 1px solid $(border-color-soft);
	border-radius: 3px;
	background: #fff;
	box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1), -1px -1px 8px rgba(0, 0, 0, 0.1);
}

.media-album-item-thumb {
	border-radius: 3px;
}

.media-slider .media-album-item .media-album-item-thumb {
	max-width: 100%;
}

.elgg-listing-full-responses .elgg-message-notice {
	margin-top: 1rem;
}

.theme-assets__preview {
	background-color: $(background-color-mild);
}