.elgg-page-landing .elgg-page-hero > .elgg-inner {
	max-width: 100%;
	margin: 0;
	padding: 0;
}

.landing-hero {
	position: relative;
	padding: 5rem;
}

.landing-hero__bg {
	background-color: $(topbar-background-color);
	background-image: url('theme/pattern.svg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50%;
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	display: block;
	left: 0;
	top: 0;
}

.landing-hero__bg:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background: #2f4858;
	opacity: 0.65;
}

.landing-hero__content {
	position: relative;
	z-index: 2;
	display: block;
	max-width: $(desktop);
	margin: 0 auto;
	padding: 2rem;
}

.landing-hero__column--right {
	text-align: center;
	padding: 0 3rem;
}

.landing-hero__columns--vcentered {
	align-items: center;
}

.landing-hero__illustration {
	border-radius: 4px;
	max-height: 24rem;
}

.landing-hero__heading {
	font-size: 3rem;
	line-height: 3.5rem;
	color: rgba(255, 255, 255, .9);
	text-shadow: 1px 1px #000000;
	text-decoration: none;
	font-weight: 600;
	margin-bottom: 2rem;
}

.landing-hero__tagline {
	color: #ffffff;
	margin-bottom: 2rem;
}

.landing-hero__cta-bank .elgg-button {
	font-size: 1.5rem;
	padding: 1rem 2rem;
	height: auto;
	border-radius: 50px;
}

@media $(media-tablet-up) {
	.landing-hero__content {
		padding: 0 5rem;
	}
	
	.landing-hero__heading {
		font-size: 4rem;
		line-height: 4.5rem;
	}
}

.landing-features {
	padding: 3rem;
}

.landing-features__column {
	padding: 1rem;
	position: relative;
}

.landing-features__icon {
	width: 3rem;
}

.landing-features__title {
	line-height: normal;
	margin: 0.25rem 0;
	font-weight: 600;
}

.elgg-page-slides {
	background: $(background-color-soft);
	border-top: 1px solid $(border-color-soft);

	.slick-slide {
		outline: none;
	}
	
	.slick-dotted.slick-slider {
		padding-bottom: 30px;
		margin-bottom: 0;
	}
	
	.slick-dots {
		bottom: 1rem;
	}

	.slick-prev:before, .slick-next:before {
		color: $(text-color-highlight);
	}
}

.landing-slides__column {
	padding: 2rem;
	.elgg-image-block {
		align-items: center;
	}
	.elgg-image,
	.elgg-image-alt {
		padding: 3px;
		border: 1px solid $(border-color-soft);
		border-radius: 3px;
		background: #ffffff;
		box-shadow: 1px 1px 8px rgba(0, 0, 0, .1), -1px -1px 8px rgba(0, 0, 0, .1);
		.landing-slides__image {
			display: inline-block;
			vertical-align: middle;
		}
	}
	.elgg-body {
		max-width: 40rem;
		padding: 2rem 5rem;
	}
	.is-vcentered {
		align-items: center;
	}
}

.landing-slides__title {
	font-weight: 600;
	margin-bottom: 1rem;
	font-size: 1.75rem;
}

.landing-editor__button {
	font-size: 0.75rem;
	font-weight: bold;
	font-family: $(h-font-family);
	display: block;
}

.landing-editor__block {
	border: 1px dashed #aaa;
	margin-bottom: 0.5rem;
	position: relative;
}

.landing-editor__block-menu {
	position: absolute;
	z-index: 5;
	padding: 0.5rem;
}

.landing-editor__block-menu > li {
	margin-right: 0.5rem;
	padding: 0.25rem;
	background: rgba(255, 255, 255, 0.5);
	border-radius: 50%;
	width: 2rem;
	height: 2rem;
	text-align: center;
	line-height: 1.5rem;
}

.landing-editor .landing-slides__column {
	border-bottom: 1px dashed #aaa;
}

.landing-editor__block-footer {
	padding: 1rem;
	text-align: right;
}