.elgg-module {
	border-radius: 6px;
	background: #ffffff;
}

.elgg-module > *:first-child {
	border-radius: 6px 6px 0 0;
}

.elgg-module > *:last-child {
	border-radius: 0 0 6px 6px;
}

.elgg-module-aside {
	border: 1px solid var(--elgg-border-color-soft);
}


