.interactions {
	background: var(--hype-color-white);
	border-radius: var(--hype-border-radius-md);
}

.elgg-menu-river-filter > li {
	background: var(--elgg-body-background-color);
}

.wall-component .elgg-tabs-component .elgg-tabs {
	padding: 0 !important;
}

.wall-component .elgg-tabs-component .elgg-tabs > li > a {
	padding: 1rem;
	font-weight: bold;
}
