<div class="elgg-page-section elgg-page-slides">
    <div class="elgg-inner">
        <div class="landing-slides">
            <div class="landing-slides__content">
                <div class="elgg-grid landing-slides__columns elgg-slick-slider elgg-state-loading"
                     data-slick="{{ config.slick|json_encode|escape('html_attr') }}">
                    {% for slide in data.items %}
                        <div class="landing-slides__column">
                            <div class="elgg-grid is-vcentered">
                                <div class="elgg-col-1of2">
                                    <div class="elgg-image">
                                        <img src="{{ slide.img.url }}" alt="Slider illustration"
                                             class="landing-slides__image"/>
                                    </div>
                                </div>
                                <div class="elgg-col-1of2">
                                    <div class="elgg-body">
                                        <h3 class="landing-slides__title">
                                            {{ slide.title }}
                                        </h3>
                                        <h4 class="landing-slides__description">
                                            {{ slide.description }}
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>